apiVersion: apps/v1
kind: Deployment
metadata:
  name: sb-k8s-template
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sb-k8s-template
  template:
    metadata:
      labels:
        app: sb-k8s-template
      annotations:
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/role: "myapp-k8s-role"
        vault.hashicorp.com/agent-inject-secret-myapp-db: "myapp-db/creds/myapp-db-role"
        vault.hashicorp.com/secret-volume-path-secret-myapp-db: "myapp-db.creds"
        vault.hashicorp.com/auth-path: "auth/kubernetes"
        vault.hashicorp.com/agent-run-as-user: "1881"
        vault.hashicorp.com/agent-pre-populate: "true"
        vault.hashicorp.com/agent-pre-populate-only: "false"
#        vault.hashicorp.com/log-level: "debug"
    spec:
      serviceAccountName: myapp-sa
      containers:
        - name: sb-k8s-template
          image: sb-k8s-template:01
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            # Note that the following environment variable is converted to a
            # property override called spring.profiles.active when read by Spring
            - name: SPRING_PROFILES_ACTIVE
              value: local-cluster
---
apiVersion: v1
kind: Service
metadata:
  name: sb-k8s-svc
  namespace: default
spec:
  selector:
    app: sb-k8s-template
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30000
---
apiVersion: v1
kind: Service
metadata:
  name: sb-k8s-debug-svc
  namespace: default
spec:
  selector:
    app: sb-k8s-template
  type: NodePort
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30500
